<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LIs Cuisine</title>
  <link rel="stylesheet" href="../resources/styles/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&display=swap" rel="stylesheet">
</head>


<body>

  <div class="headinfo"> 
      <header>
        <div class="title">
          <h2><a href="./homepage.html">Cook'd by LI</a></h2>
        </div>
        <div class="navigation">
        <nav>
          <a href="#main"><li>Dishes</li></a>
          <a href="#side"><li>Sides</li></a>
          <a href="#dessert"><li>Desserts</li></a>
          <a href="#review"><li>Reviews</li></a>
        </nav>
        </div>
      </header>
  </div>

  <div class="background">
    <h2>Bienvenido a LI's Cuisine </h2> 
  </div>

  <!-- Site Description/ImageryGallery/MusicPlaylist Section-->
  <div class="siteintro">
    <div class="sitedescription">
      
      <h4>What is this intended to be exactly one might wonder? Not a restaurant, but a thorough complilation of my adapted and continously adapting food tastes as per life influences, locations traversed and mama's home cookin'. <br>Come for the food. Stay for the vibes. Start a conversation.<br> HAVE A NICE!</h4>

    </div>
    <div class="imagery">
      
    </div>
    <div class="musica">
      <img src="" alt="">
      <audio src=""></audio>
      <video src="/responsivewebsitestarting/video/Jeff Dunahm Arguing with Myself (2006) DVDrip V3nDetta.mp4" controls allowfullscreen width="350" height="250" type="video/mp4"></video>
        <p> Video cannot be played currently.</p>
      </video>
   
</div>
  </div>
  
  
  <div class="maincontent">
<!-- Main Dishes Section-->
    <div class="categorylabel" id="main">
      <h2>Main Dishes</h2>
    </div>

  <div class="dishback">  
    <div class="dishes" >
      <div class="dishheading">
        <h3>Potato Stir-Fry (vegan)</h3>
      </div>  
      <div class="dishdescription">
        <div class="dishimg">
          <img src="./images/PotStirFry.jpg" alt="Potato Stir-Fry">
        </div>
        <div class="dishtext">  
        <p> Though a Vegan dish, healthy left the discussion here! <br> The Potato Stir-Fry dish is a deep-ish fried, flexibly combinable mix of random goodnesses thrown in the deep together, then topped off with a healthy coat of Käse to finish. Constant LL Cool J lip action inducing.</p>
        <h5>Nutri Stats</h5>
        <ul>
          <li>Energy Content: KJ</li><li>Fat: xxx</li><li>Cals: kcals</li>Carbs: g<li>Protein: g</li><li>Sugar: g</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
<!-- Sides Section-->
  <div class="categorylabel" id="side">
    <h2>Sides</h2>
  </div>

  <div class="sides">

  </div>
<!-- Desserts Section-->
<div class="categorylabel" id="dessert">
  <h2>Desserts</h2>
</div>
    <div class="dishback">  
      <div class="dishes" >
        <div class="dishheading">
          <h3>Pancake</h3>
        </div>  
        <div class="dishdescription">
          <div class="dishimg">
            <img src="./images/PancakesFolded.avif" alt="Potato Stir-Fry">
          </div>
          <div class="dishtext">  
          <p> The classic pancake. There are a thousand ways to make/bake a pancake - maybe more - here's my own. <br> I call it semi-American and semi-EveryoneElse. </p>
          <h5>Nutri Stats</h5>
          <ul>
            <li>Energy Content: KJ</li><li>Fat: xxx</li><li>Cals: kcals</li>Carbs: g<li>Protein: g</li><li>Sugar: g</li>
          </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="desserts" >
      <div>
        
      </div>
    </div>
  
  </div>
  
  <!-- Close-out Section-->
  <div class="theend">
    <p>Have a nice!</p>
  </div>

</body>
<!-- Footer Section-->
<footer>
  <p>Copyright LI Corp 2025</p>
  <div class="contact">
    <p>Email | lungista@hotmail.com </p> <p>Mobile | +491788728575</p> <p>Blog |</p>
  </div>
</footer>

</html>