<!DOCTYPE html>
<html lang="en" style=" background-color: azure; ">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LIs Cuisine</title>
  <link rel="stylesheet" href="/resources/styles/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>

  <header class="headinfo">
    <div class="title">
      <h2><a href="/">Cook'd by LI</a></h2>
    </div>
    <nav class="navigation">
      <a href="/dishes">
        <li>Dishes</li>
      </a>
      <a href="/sides">
        <li>Sides</li>
      </a>
      <a href="#dessert">
        <li>Desserts</li>
      </a>
      <a href="#review">
        <li>Reviews</li>
      </a>
    </nav>
  </header>

  <div class="background">
    <h2>Bienvenido a Cocina LI's </h2>
  </div>

  <!-- Site Description/ImageryGallery/MusicPlaylist Section-->
  <div class="siteintro">
    <div class="sitedescription">

      <h3>What is this intended to be exactly? I wonder too!</h3>
      <h4>Welcome to a thorough complilation of my adapted and
        continously adapting food tastes as per life influences, locations traversed and mama's home cookin'. <br>Come
        for the food. Stay for the vibes. Start a conversation.<br>...HAVE A NICE!</h4>

    </div>
    <div class="intromagery">
      <img
        src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhpbmdzfGVufDB8fDB8fHww"
        alt="Assorted Things welcome screen">
      <img
        src="https://images.unsplash.com/photo-1503602642458-232111445657?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dGhpbmdzfGVufDB8fDB8fHww"
        alt="Assorted Things welcome screen">
      <img
        src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHRoaW5nc3xlbnwwfHwwfHx8MA%3D%3D"
        alt="Assorted Things welcome screen">
      <img
        src="https://images.unsplash.com/photo-1509395176047-4a66953fd231?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHRoaW5nc3xlbnwwfHwwfHx8MA%3D%3D"
        alt="Assorted Things welcome screen">
    </div>
    <div class="musica">
      <img
        src="https://images.unsplash.com/photo-1509281373149-e957c6296406?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8dGhpbmdzfGVufDB8fDB8fHww"
        alt="Old-Skool TV as musica welcome screen">
      <div>
        <audio src="">Some musica</audio>
      </div>
      <div>
        <video src="https://www.youtube.com/embed/Z0nq4UDHndY" title="HOW TO MAKE MEAT PIE" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen"></video>
        <p>Some Home Alone vibes from YouTube B-)</p>
        </video>
      </div>

    </div>
  </div>


  <div class="maincontent">
    <!-- Main Dishes Section-->
    <div class="categorylabel" id="main">
      <h2>Main Dishes</h2>
    </div>

    <div class="dishback">
      <div class="dishes">
        <div class="dishheading">
          <h3>Potato Stir-Fry (vegan)</h3>
        </div>
        <div class="dishdescription">
          <div class="dishimg">
            <img
              src="https://images.unsplash.com/photo-1633959639799-6d3f66e05710?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTl8fHBvdGF0byUyMHN0aXIlMjBmcnl8ZW58MHx8MHx8fDA%3D"
              alt="Potato Stir-Fry">
          </div>
          <div class="dishtext">
            <p> Though a Vegan dish, healthy left the discussion here! <br> <em>Potato Stir-Fry</em> dish is a deep-ish
              fried, flexibly combinable mix of random goodnesses thrown in the deep together, then topped off with a
              healthy coat of Käse to finish. Constant LL Cool J lip action inducing.</p>
            <h5>Nutri Stats</h5>
            <ul>
              <li>Energy Content: KJ</li>
              <li>Fat: xxx</li>
              <li>Cals: kcals</li>Carbs: g<li>Protein: g</li>
              <li>Sugar: g</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="dishes">
        <div class="dishheading">
          <h3>Burger a la LI (vegan)</h3>
        </div>
        <div class="dishdescription">
          <div class="dishimg">
            <img
              src="https://plus.unsplash.com/premium_photo-1675252369719-dd52bc69c3df?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D"
              alt="Burger a la LI">
          </div>
          <div class="dishtext">
            <p> Though a Vegan dish, healthy left the discussion here! <br> <em>Burger a la LI</em> is a deep-ish fried,
              flexibly combinable mix of random goodnesses thrown in the deep together, then topped off with a healthy
              coat of Käse to finish. Constant LL Cool J lip action inducing.</p>
            <h5>Nutri Stats</h5>
            <ul>
              <li>Energy Content: KJ</li>
              <li>Fat: xxx</li>
              <li>Cals: kcals</li>Carbs: g<li>Protein: g</li>
              <li>Sugar: g</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Sides Section-->
    <div class="categorylabel" id="side">
      <h2>Sides</h2>
    </div>
    <div class="sides">
      sasdasd
    </div>
    <div class="maincontent" style="background-image: url('https://images.unsplash.com/photo-1497034825429-c343d7c6a68f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHRoaW5nc3xlbnwwfHwwfHx8MA%3D%3D');">
      <!-- Desserts Section-->
      <div class="categorylabel" id="dessert">
        <h2>Desserts</h2>
      </div>
      <div class="dishback">
        <div class="dishes">
          <div class="dishheading">
            <h3>Pancake</h3>
          </div>
          <div class="dishdescription">
            <div class="dishimg"><img src="/resources/images/PancakesFolded.avif" alt="Potato Stir-Fry"
                style="width:325px; height:230px;"></div>
            <div class="dishtext">
              <p> The classic pancake. There are a thousand ways to make/bake a pancake - maybe more - here's my own.
                <br> I call it semi-American and semi-EveryoneElse(some would call that American).
              </p>
              <h5 style="background-color: rgba(0,0,0,0.5); width:100%;">Nutri Stats</h5>
              <ul>
                <li> | Energy Content: KJ</li>
                <li> | Fat: xxx</li>
                <li> | Cals: kcals</li>Carbs: g<li>Protein: g</li>
                <li> | Sugar: g</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Reviews Section-->
  <div class="categorylabel" id="review">
    <h2>Reviews</h2>
    <div>
      <ul>
        <li>Great food and ambiance! - Jeff Durham</li>
        <li>Will definitely come back! - John Doe</li>
        <li>Highly recommend the desserts! - Jane Smith</li>
      </ul>
    </div>
    <div>
      <form action="" method="POST">
        <label for="name"></label>
        <input type="text" id="name" placeholder="Enter your full-name"></input>
        <textarea></textarea>
        <button>Submit</button>
      </form>
    </div>
  </div>
  </div>
  <!-- Close-out Section-->
  <div class="theend">
    <p>Have a nice!</p>
  </div>
  <!-- Footer Section-->
  <footer>
    <p>Copyright LI Corp 2025</p>
    <div class="contact">
      <p>Email | lungista@hotmail.com </p>
      <p>Mobile | +491788728575</p>
      <p>Blog |</p>
    </div>
  </footer>
  <!--<script src="../index.js"></script>-->
</body>

</html>